body, form, input{
    text-align: center;
}
.trocar_nome{
    display:none;
    text-align: center;
}
button{
    width: 75px;
    height: 75px;
    text-align: center;
}
table{
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    background-color:#f0ffff;
    border-radius: 10px;
    width:0px;
    border: 1px solid black;
}
.dias_semana{
    width:75px;
}
#nova_palavra{
    margin-left: 825px;
    width: 270px;
}
#trocar_hora{
    margin-left: 905px;
}
#n_enviar_nova_palavra{
    margin-left: 910px;
}
#enviar_nova_palavra{
    margin-left: 925px;
}
.tira_borda{
    border: none;
}
body, input{
    background-color: #d3d3d3;
}
h3, input{
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    text-align: left;
}
.outra_cor{
    background-color: #0c1d2e;
    color: white;
}
td, th, tr{
    border: 1px solid black;
}