body, form, input{
    text-align: center;
}
.normal{
    border:1px;
    border-style:solid;
    background-color: lightgray;
    width:75px;
}
.trocar_nome{
    display:none;
    text-align: center;
    margin-left:800px;
}
button{
    width: 75px;
    height: 75px;
}
table{
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
}
.dias_semana{
    width:75px;
}
#nova_palavra{
    width:300px;
}