* {
    padding: 2cm, 2cm, 2cm, 2cm;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
}

.wrapper {
    overflow-x: hidden;
    margin: 0;
}

.th {
    text-align: center;
}

.td {
    text-align: justify;
}