* {
    padding: 2cm, 2cm, 2cm, 2cm;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.outra_cor {
    text-align: center;
}